h1 {
  color: blue;
}

.menu {
  width: 1.5rem;
  height: 1.5rem;
  margin-right:1.5rem;
  margin-left:10rem;
}

.search {
  width: 1.5rem;
  margin-right:2rem;
  height: 1.5rem;
}

.space {
  color: black;
  font-weight: 900;
  text-decoration: underline;
  padding-top: 0.25rem;
}

.logo {
  width: 13rem;
  height: 5rem;
  padding-top: -2rem;
  background-color:transparent;
}

.left-nav {
  display: flex;
}

.buttons {
  
  display: flex;
  color: #567b95;
  margin-right:18rem;
  margin-left:-7rem;
}

.header {
  margin-left: 15rem;
  font-size: 2.5rem;
  padding-top: 4rem;
  font-weight: 900;
}

.gun {
  margin-left: 15.2rem;
  padding-top: 0.1rem;
}

.man {
  width: 110%;
}

.credit {
  padding-left: 23rem;
  margin-top: -2.4rem;
  font-size: 0.8rem;
}

.label {
  display:flex;
  font-weight: 600;
  text-decoration: underline;
  font-size: 1.2rem;
}

.wording {
  width: 70%;
  font-size: 1.2rem;
  margin-left: 9rem;
}

.date {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.big {
  font-size: 1.5rem;
  font-weight: 600;
}

.theory {
  width: 120%;
}

.lower_paragraph {
  margin-left: -4rem;
}

.inflation {
  font-weight: 600;
}

.discription {
  font-size: 0.85rem;
}

.picture {
  position: relative;
  margin-bottom: 2rem;
  margin-left: -7rem;
}

.universe {
  font-size: 0.65rem;
  width: 25%;
  position: absolute;
  top: 14rem;
  left: 3rem;
}

.cosmos {
  font-size: 0.65rem;
  width: 25%;
  position: absolute;
  top: 14rem;
  left: 18rem;
}

.telescope {
  font-size: 0.65rem;
  width: 25%;
  position: absolute;
  top: 14rem;
  left: 34rem;
}

.coffee {
  font-size: 0.65rem;
  width: 25%;
  position: absolute;
  top: 14rem;
  left: 52rem;
}

.time {
  font-size: 0.65rem;
  width: 25%;
  position: absolute;
  top: 34rem;
  left: 2rem;
}

.problem {
  font-size: 0.65rem;
  width: 25%;
  position: absolute;
  top: 34rem;
  left: 18rem;
}

.flactuation {
  font-size: 0.65rem;
  width: 25%;
  position: absolute;
  top: 34rem;
  left: 34rem;
}

.expansion {
  font-size: 0.65rem;
  width: 25%;
  position: absolute;
  top: 34rem;
  left: 52rem;
}

.first_line {
  width: 7rem;
  color: gray;
  background-color: gray;
  position: absolute;
  top: 215.6rem;
  left: 35.5rem;
}

.by {
  font-size: 0.75rem;
  position: absolute;
  top: 217.5rem;
  left: 35.5rem;
  font-size:1rem;
}

iframe {
  width: 100%;
  height: 25rem;
  border: 0.0001px;
}

.pole {
  width: 100%;
  height: 30rem;
}

.fyi {
  font-size: 0.8rem;
}

a :link {
  text-decoration: underline;
  color: gray;
}

.btn-adjust {
  background-color: #567b95;
  width: 25rem;
}

.contact {
  display: flex;
  justify-content: space-between;
}

.fa-facebook {
  margin-left: -11rem;
}

.second_line {
  width: 56rem;
  color: gray;
  background-color: gray;
  position: absolute;
  top: 538rem;
  left: 25rem;
}

.third_line {
  width: 31rem;
  color: gray;
  background-color: gray;
  position: absolute;
  top: 538rem;
  left: 86.5rem;
}

.editors-pick {
  margin-top: 100rem;
  float: right;
}

.size {
  width: 5rem;
  right: 5rem;
}

.line-four {
  width: 10rem;
  margin-right: 20rem;
}

.pick {
  display: flex;
  margin-right: 15rem;
}

.about {
  margin-left: 1rem;
}

.big-image {
  width: 18rem;
  height: 15rem;
}

.images {
  display: flex;
  justify-content: flex-start;
}

.image_text {
  margin-right: 1rem;
}

.more-left {
  width: 82%;
  margin-left: -5.02rem;
}

nav{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display:flex;
  background-color:white;
  justify-content:space-between;

 }

.nav {
  height: 5.201rem;
  width:132rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.05rem solid gray;
  border-top: 0.05rem solid gray;
}

.more-right {
  float: right;
  margin-top: -46rem;
  margin-right: -20.5rem;
  font-size:1rem;
  width:31rem;
}

.line_five {
  width: 31rem;
  background-color: gray;
  position: absolute;
  top: 542rem;
  left: 86.5rem;
  height: 0.00000001rem;
}
.container{

  margin-top:2rem;
}
.now {
  margin-right:1rem;
  background-color:#567b95;
}
.in{
  background-color:#567b95;
}

.break::after{
  content: "\a\a";
  white-space: pre;

}

.popular{
  position: absolute;
  top: 541rem;
  left: 86.5rem;
  font-size:1.5rem;
}
.more-left{
  font-size:1.5rem;
}
.rick{
  color:#8f8888;
}

.icons{
  margin-left:35rem;
}
.fa-facebook{
  margin-right:0.75rem;
}
.fa-twitter-square {
  margin-right:0.75rem;
}

.fa-envelope {
  margin-right:0.75rem;
}

.fa-share{
  margin-right:0.75rem;
}

.fa-sign-in-alt{
  margin-right:0.75rem;
}
.special{
  font-size:1.5rem;
}