h1 {
  color: blue;
}

hr {
  width: 1rem;
  background-color: grey;
  height: .1rem;
}

.nav {
  height: 5.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: .05rem solid gray;
  border-top: .05rem solid gray;
}

#space {
  color: #000;
  font-weight: 900;
  text-decoration: underline;
  padding-top: .5rem;
}

#logo {
  width: 13rem;
  height: 5rem;
  padding-top: .9rem;
}

#left-nav {
  display: flex;
}

#buttons {
  display: flex;
  color: #567b95;
  margin-right: 10rem;
}

.header {
  font-size: 2.5rem;
  padding-top: 4rem;
  font-weight: 900;
}

.gun {
  margin-left: 18.83rem;
  padding-top: .1rem;
}

#man {
  width: 110%;
}

#credit {
  padding-left: 23rem;
  margin-top: -2.4rem;
  font-size: .8rem;
}

#label {
  font-weight: 600;
  text-decoration: underline;
  font-size: .75rem;
}

#content {
  width: 60%;
  font-size: 1.2rem;
  margin-left: 9rem;
}

#date {
  margin-top: .8rem;
  margin-bottom: .8rem;
}

#big {
  font-size: 1.5rem;
  font-weight: 600;
}

#theory {
  width: 120%;
}

.lower_paragraph {
  margin-left: -4rem;
  position: relative;
}

#inflation {
  font-weight: 600;
}

.discription {
  font-size: .85rem;
}

#universe {
  font-size: .75rem;
  width: 25%;
  position: absolute;
  top: 12rem;
  left: 2rem;
}

#time {
  font-size: .75rem;
  width: 25%;
  position: absolute;
  top: 12rem;
  left: 15rem;
}

#search {
  width: 2.3rem;
  height: 2.3rem;
}
