h1 {
  color: blue;
}

.nav {
  height: 5.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.05rem solid gray;
  border-top: 0.05rem solid gray;
}

#menu {
  width: 2.3rem;
  height: 2.3rem;
}

#search {
  width: 2.3rem;
  ;
  height: 2.3rem;
}

#space {
  color: black;
  font-weight: 900;
  text-decoration: underline;
  padding-top: 0.5rem;
}

#logo {
  width: 13rem;
  height: 5rem;
  padding-top: 0.9rem;
}

#left-nav {
  display: flex;
}

#buttons {
  display: flex;
  color: #567b95;
  margin-right: 10rem;
}

.article {}

.header {
  font-size: 2.5rem;
  padding-top: 4rem;
  font-weight: 900;
}

.gun {
  margin-left: 18.83rem;
  padding-top: 0.1rem;
}

.lower {}

#man {
  width: 110%;
}

#credit {
  padding-left: 23rem;
  margin-top: -2.4rem;
  font-size: 0.8rem;
}

#label {
  font-weight: 600;
  text-decoration: underline;
  font-size: 0.75rem;
}

#content {
  width: 60%;
  font-size: 1.2rem;
  margin-left: 9rem;
}

#date {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

#big {
  font-size: 1.5rem;
  font-weight: 600;
}

#theory {
  width: 120%;
}

.lower_paragraph {
  margin-left: -4rem;
}

#inflation {
  font-weight: 600;
}

.discription {
  font-size: 0.85rem;
}

.lower_paragraph {
  position: relative;
}

#universe {
  font-size: 0.65rem;
  width: 25%;
  position: absolute;
  top: 12rem;
  left: 2rem;
}

#cosmos {
  font-size: 0.65rem;
  width: 25%;
  position: absolute;
  top: 12rem;
  left: 15rem;
}

#telescope {
  font-size: 0.65rem;
  width: 25%;
  position: absolute;
  top: 12rem;
  left: 28rem;
}

#coffee {
  font-size: 0.65rem;
  width: 25%;
  position: absolute;
  top: 12rem;
  left: 41rem;
}

#time {
  font-size: 0.65rem;
  width: 25%;
  position: absolute;
  top: 29rem;
  left: 2rem;
}


#problem {
  font-size: 0.65rem;
  width: 25%;
  position: absolute;
  top: 29rem;
  left: 15rem;
}

#flactuation {
  font-size: 0.65rem;
  width: 25%;
  position: absolute;
  top: 29rem;
  left: 28rem;
}

#expansion{
  font-size: 0.65rem;
  width: 25%;
  position: absolute;
  top: 29rem;
  left: 41rem;
}

hr {
    width:7rem;
    color:gray;
    background-color:gray;
    margin-right:36.4rem;

  }
#by {
      font-size:0.75rem;
  }
  #briefing  {
     width:50rem;
     background-color:red;
  }