h1 {
  color: blue;
}

hr {
  width: 1rem;
  background-color: grey;
  height: 0.1rem;
}

.nav {
  height: 5.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.05rem solid gray;
  border-top: 0.05rem solid gray;
}

#menu {
  width: 2.3rem;
  height: 2.3rem;
}

#search {
  width: 2.3rem;
  ;
  height: 2.3rem;
}

#space {
  color: black;
  font-weight: 900;
  text-decoration: underline;
  padding-top: 0.5rem;
}

#logo {
  width: 13rem;
  height: 5rem;
  padding-top: 0.9rem;
}

#left-nav {
  display: flex;
}

#buttons {
  display: flex;
  color: #567b95;
  margin-right: 10rem;
}
.article{

}
.header{
  font-size:2.5rem;
  padding-top:4rem;
  font-weight:900;
}
.gun{margin-left:18.83rem;padding-top:0.1rem;}

.lower{
  
}
#man{
  width:110%;
}
#credit{
  padding-left:23rem;
  margin-top:-2.4rem;
  font-size:0.8rem;
}
#label{
  font-weight:600;
  text-decoration:underline;
  font-size:0.75rem;
}
#content{
  width:60%;
  font-size:1.2rem;
  margin-left:9rem;
}
#date{margin-top:0.8rem;
     margin-bottom:0.8rem;
}
#big{
     font-size:1.5rem;
     font-weight:600;
}
