h1 {
  color: blue;
}

hr {
  width: 1rem;
  background-color: grey;
  height: 0.1rem;
}

.nav {
  height: 5.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.05rem solid gray;
  border-top: 0.05rem solid gray;
}

#menu {
  width: 2.3rem;
  height: 2.3rem;
}

#search {
  width: 2.3rem;
  ;
  height: 2.3rem;
}

#space {
  color: black;
  font-weight: 900;
  text-decoration: underline;
  padding-top: 0.5rem;
}

#logo {
  width: 13rem;
  height: 5rem;
  padding-top: 0.9rem;
}

#left-nav {
  display: flex;
}

#buttons {
  display: flex;
  color: #567b95;
  margin-right: 10rem;
}